<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>
    <nav th:replace="~{fragments :: nav}"></nav>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Criar profissional</h2>
        </div>

        <form th:replace="~{profissionalsaude/form-profissional :: formProfissional(null)}"></form>
    </div>

    <footer th:replace="~{fragments :: footer}"></footer>
</body>

</html>